@use "../../styles/partials/variables" as *;
.main-form {
  &__radio-container {
    display: flex;
  }

  &__text-input {
    margin-top: 32px;
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 4px;
    background-image: url("../../assets/icons/search-24px.svg");
    background-repeat: no-repeat;
    background-position: right 5% bottom 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
  }
}

input[type="text"]:focus {
  border: 2px solid $gist-black;
}
.radio-button-container {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}
