@use "../../styles/partials/variables" as *;

.library {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  &--collapsed {
    width: none;
    padding: 2px;
  }

  // background-image: linear-gradient(0deg, #a8c7b8 0%, #fff 100%);
  background-image: linear-gradient(
    0deg,
    hsl(145, 25%, 88%) 0%,
    /* 20% lighter */ hsl(0, 0%, 100%) 100% /* 10% lighter */
  );
  // background-image: linear-gradient(
  //   0deg,
  //   rgba(255, 222, 233, 0.45) 0%,
  //   rgba(230, 250, 255, 0.45) 100%
  // );
  // background-image: linear-gradient(
  //   0deg,
  //   rgba(255, 222, 233, 0.45) 0%,
  //   rgba(230, 250, 255, 0.45) 100%
  // );

  &__empty-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    &-back {
    }

    &-container {
      width: 40px;
      height: 40px;
      display: flex;

      justify-content: center;
      align-items: center;
      border-radius: 50%;
      &:hover {
        background-color: #dddddd;
      }
    }
  }

  &__header {
    &-container {
      padding-left: 16px;
      padding-right: 8px;
      padding-top: 6px;
      margin-bottom: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &--collapsed {
        justify-content: center;
        flex: 1;
        padding: 4px;
      }
    }
  }

  &__bottom {
    // width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 100px;
  }
}
