// Regular
@font-face {
  font-family: "Titillium";
  src: url("/src/assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: 400;
}

// Semi-bold
@font-face {
  font-family: "Titillium";
  src: url("/src/assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
