//screen size breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//colors

$gist-black: #212529;
$gist-white: #f8f9fa;
$gist-accent-1: #ffdee9;
$gist-accent-2: #e6faff;

$gpt-green: #e4ffe9;
$gemini-purple: #ead9ff;
$perplexity-blue: #a8f7f9;

//potential gpt colors
// #d1ffd6
// #b6ffb9
// #a1ffab

// potential gemini colors
// #ead9ff
// #d4b8ff
// #c1a1ff

// potential perplexity colors
// #a8f7f9
// #9aeff2
// #8cdff0
