$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$gist-black: #121619;

$gist-black-lighter: lighten($gist-black, 15%);
$gist-white: #f8f9fa;
$gist-accent-1: #ffdee9;
$gist-accent-2: #e6faff;

$gpt-green: #d1ffd6;
$gemini-purple: #dec2ff;

$perplexity-blue: #a8f7f9;

$gpt-green-opacity: #ebffed;
$gemini-purple-opacity: rgba(234, 217, 255, 0.7);
$perplexity-blue-opacity: #ecfdfe;
