//screen size breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//colors

// $gist-black: #212529;

$gist-black: #121619;

$gist-black-lighter: lighten($gist-black, 15%);
$gist-white: #f8f9fa;
$gist-accent-1: #ffdee9;
$gist-accent-2: #e6faff;

$gpt-green: #d1ffd6;
$gemini-purple: #ead9ff;
$perplexity-blue: #a8f7f9;
// $gpt-green: #8db9ad;
// $gemini-purple: #5c4ebc;
// $perplexity-blue: #4ed3e4;

//gradient greeen#a8c7b8

//light gradient green dae7e0

//potential gpt colors
// #d1ffd6
// #b6ffb9
// #a1ffab

// potential gemini colors
// #ead9ff
// #d4b8ff
// #c1a1ff

// potential perplexity colors
// #a8f7f9
// #9aeff2
// #8cdff0

// Gray
// GRAY 0
// #f8f9fa
// GRAY 1
// #f1f3f5
// GRAY 2
// #e9ecef
// GRAY 3
// #dee2e6
// GRAY 4
// #ced4da
// GRAY 5
// #adb5bd
// GRAY 6
// #868e96
// GRAY 7
// #495057
// GRAY 8
// #343a40
// GRAY 9
// #212529
