@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main {
  display: flex;
  justify-content: center;
  align-items: center;

  &__content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.home {
  &__header-wrapper {
    display: flex;
  }
  &__header-container {
    padding: 24px;
    padding: 32px;
    font-size: 0.8rem;
    @include tablet {
      font-size: 1rem;
    }
  }
}

.content-wrapper {
  background-color: #fff;
  background-image: linear-gradient(0deg, #a8c7b8 0%, #fff 100%);
  flex: 1;
  display: flex;
  flex-direction: column;

  &__logged-out {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__sections {
    display: flex;
    flex: 1;
  }
  &__left {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: $gist-white;
    background-image: linear-gradient(0deg, #a8c7b8 0%, #fff 100%);

    @include tablet {
      width: auto;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
