@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slide-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  position: relative;
  top: 150px;

  &__radio-container {
    display: flex;
  }

  &__text-input {
    margin-top: 32px;
    width: 100%;
    border-radius: 4px;
    border: none;
    padding: 4px;
    background-image: url("../../assets/icons/search-24px.svg");
    background-repeat: no-repeat;
    background-position: right 5% bottom 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    @include tablet {
      min-width: 300px;
      max-width: 60%;
    }
  }

  &__submit {
    background-color: $gist-accent-2;

    &:hover {
      background-color: $gist-black;
      color: $gist-white;
    }
    &-container {
      margin-top: 32px;
      display: flex;

      justify-content: center;
    }
  }

  &__error {
    position: relative;
    top: 22px;
    color: red;
    font-size: 12px;
    animation: wiggle 0.1s ease-in-out 3 alternate;
  }
}

@include slide-top-animation(-150px);

@keyframes wiggle {
  0% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}

input[type="text"]:focus {
  border: 1px solid $gist-black;
}
.radio-button-container {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.response {
  &__array-container {
    display: flex;
    padding: 0 8px;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
    }
  }
  &__container {
    position: relative;
    top: 150px;
    animation: slide-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    background-color: $gist-white;
    border-radius: 4px;
    padding: 16px;
    margin: 8px;
    flex: 1;

    &--gpt {
      background-color: $gpt-green;
    }
    &--gemini {
      background-color: $gemini-purple;
    }
    &--perplexity {
      background-color: $perplexity-blue;
    }

    &--invisible {
      display: none;
    }
  }
  &__point {
    margin-top: 12px;
  }

  &__bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
  }
  &__buttons-container {
    display: flex;
    justify-content: space-between;
  }

  &__save {
    background-color: #c9ffbf;
    border: 1px solid $gist-black !important;

    &--logout {
      &:hover {
        background-color: #c9ffbf;
      }
    }
    &--login {
      &:hover {
        background-color: #8eff77;
      }
    }
  }

  &__close {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    margin-right: 16px;
    &:hover {
      border: 1px solid $gist-black;
    }
  }
}

.loading {
  &__container {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &--invisible {
      display: none;
    }
  }
  &__text {
    margin-left: 6px;
    display: inline-block;
    font-family: monospace;
    font-size: 20px;
    clip-path: inset(0 3ch 0 0);
    animation: l 1s steps(4) infinite;
  }
}
@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

input[type="radio"]:hover {
  cursor: pointer;
}
.button {
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.logo-black {
  width: 30px;
  position: relative;
  top: 4px;
}
