@use "../../styles/partials/variables" as *;

li {
  list-style: none;
}

.library-list-item {
  display: flex;
  border-radius: 4px;
  position: relative;

  &:hover {
    animation: scale 0.2s ease-in-out forwards;
  }

  &--gpt {
    background-color: $gpt-green;
  }
  &--gemini {
    background-color: $gemini-purple;
  }
  &--perplexity {
    background-color: $perplexity-blue;
  }

  &__container {
    padding: 0 4px;
  }

  &__collapsed {
    display: flex;
    justify-content: center;

    padding: 6px;

    &--gpt {
      background-color: $gpt-green-opacity;
      &:hover {
        background-color: $gpt-green;
      }
    }
    &--gemini {
      background-color: $gemini-purple-opacity;
      &:hover {
        background-color: $gemini-purple;
      }
    }
    &--perplexity {
      background-color: $perplexity-blue-opacity;
      &:hover {
        background-color: $perplexity-blue;
      }
    }
  }

  &__border-selected {
    border: 3px solid green;
  }

  &__buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__left {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 10px;

    &--sidebar {
      width: 100%;
    }
  }
  &__right {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter 0.3s ease;
    position: relative;

    &--gpt {
      box-shadow: -5px 0px 15px rgba(209, 255, 214, 0.5);
    }
    &--gemini {
      box-shadow: -5px 0px 15px rgba(234, 217, 255, 0.5);
    }
    &--perplexity {
      box-shadow: -5px 0px 15px rgba(168, 247, 249, 0.5);
    }
  }
}

.delete-icon {
  width: 15px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  &--gpt {
    box-shadow: 0px 0px 5px rgba(209, 255, 214, 0.5);
  }
  &--gemini {
    box-shadow: 0px 0px 5px rgba(234, 217, 255, 0.5);
  }
  &--perplexity {
    box-shadow: 0px 0px 5px rgba(168, 247, 249, 0.5);
  }
}

.sidebar {
  &__collapsed-total-width {
    display: flex;
    padding: 0 2px;
  }
  &__collapsed-content {
    width: 65px;
    text-align: center;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
